# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
build/
dist/
.pytest_cache/
.benchmarks/
uv.lock

# CMake / C++
_skbuild/
*.obj
*.exe
*.pyd
*.so

# OS / editors
.DS_Store
Thumbs.db
.idea/
.vscode/
